EMAIL_HOST_USER=your_email_here
EMAIL_HOST_PASSWORD=your_email_app_password_here
DEFAULT_FROM_EMAIL=your_email_here

SECRET_KEY=your_secret_key_here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DATABASE_URL=your_full_neon_connection_string_here

REDIS_URL=your_redis_url_here

GOOGLE_GMAIL_CLIENT_ID=your_google_client_id_here
GOOGLE_GMAIL_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_GMAIL_REDIRECT_URI=your_google_redirect_uri_here
GOOGLE_GMAIL_REFRESH_TOKEN=your_google_refresh_token_here
GOOGLE_GMAIL_SENDER=your_sender_email_here
OAUTHLIB_INSECURE_TRANSPORT=1

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here